body{
    background-image:url(images/pexels-krisof-1252890.jpg);
    background-size: 100%;
    font-family: 'Berlin Sans FB Demi';
    color:lightgrey;
    background-repeat: none;
    background-attachment: fixed;
}
html { 
    scroll-behavior: smooth; 

    }
    /*::webkit-scrollbar is used to tell the browser that the code is changing something with the bar*/
    body::-webkit-scrollbar {
        display:none;
        
    }

    .info-section{
        
        max-width:75%;
        
    }
    .neptune-section{
       
        max-width:75%;
        margin-left:10%;
        max-height:100%;
    }

    a {
        color:darkgrey;
        text-decoration: none;
    }

    .wrap{
        max-width:65%;
        margin-left:-5%;
        width:55%;
        
    }
    #Neptunetext{
        
        max-width:50%;
        margin-left:51%;
        margin-top:-30%;
        font-size:30px;
        
    }

    #NeptuneTexting{
        font-size:25px;
    }

